<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="A categorised directory of libraries and tools for iOS">
    <meta name="author" content="Vladislav Bauer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iOS Cosmos</title>
    <link href="favicon.png" rel="shortcut icon">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.min.css" rel="stylesheet">
    <style type="text/css"><%= erb :styles %></style>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/vendor/jquery.js"></script>
</head>

<body>
    
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name"><h1><a href="/">The iOS Cosmos</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <% if defined?(categories) %>
                <li class="<%='active' if type == :free%>"><a href="/">Free (<%= free %>)</a></li>
                <li class="<%='active' if type == :paid%>"><a href="/paid">Paid (<%= paid %>)</a></li>
                <% end %>
                <li>
                    <a href="https://github.com/vbauer/ios-cosmos.com" title="Library suggestions can be submitted" class="suggest">Suggest project</a>
                </li>
            </ul>
        </section>
    </nav>

    <div class="container">
        <%= yield %>
    </div>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js"></script>
    <script>$(document).foundation();</script>
    
</body>

</html>
